@model List<Lab.Web.Models.LocationModel>

@{
    ViewBag.Title = "Ubicaciones";
}

<!--SCRIPTS-->
<script type="text/javascript" src="~/Scripts/Index.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/alertify.min.js"></script>

<!--STYLES-->
<link rel="stylesheet" type="text/css" href="~/Content/EstilosIndex.css" media="screen" />
<link rel="stylesheet" href="~/Content/alertifyjs/alertify.min.css" />
<link rel="stylesheet" href="~/Content/alertifyjs/themes/default.min.css" />

<h2>@ViewBag.Title</h2>
<table class="table"><caption>Ubicaciones</caption>
    <thead>
        <tr>
            <th>ID</th>
            <th>Ciudad</th>
            <th colspan="2">Acciones</th>
        </tr>
    </thead>
    <tbody>
       @foreach (var l in Model)
       {
            <tr>

                <td>@l.Id</td>
                <td id="ciudad">@l.City</td>
                <td class="Actions">@Html.ActionLink("Borrar", "Delete", new { key = l.Id }, new { @id = "delete-action", onclick = "return myConfirm();"})</td>
                <td class="Actions">@Html.ActionLink("Modificar", "InsertUpdate", new { Id = l.Id, City = l.City, accion = "Modificar"}, new { @id = "update-action" })</td>
            </tr>
        }
        </tbody>
</table>
<a href="@Url.Action("InsertUpdate","Location", new { Id = 0, City = "", accion = "Insertar" })">
    <input type="submit" value="Insertar" id="insert-action"/>
</a>




