@model Lab.Web.Models.LocationModel

<link rel="stylesheet" type="text/css" href="~/Content/EstilosInsertUpdate.css" media="screen" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/InsertUpdate.js"></script>

<h2>@ViewBag.Title</h2>

<div class="formulario">
    <div class="interno">
        @using (Html.BeginForm("InsertOrUpdate", "Location", FormMethod.Post))
        {
            @Html.HiddenFor(l => l.Id)
            @Html.HiddenFor(l=> l.City, new { @id="city-label"})

        <div class="interno" id="interno-texto">
            <label for="city-text">Ciudad:</label>
            <input type="text" name="City" value = "@Model.City" placeholder="Nombre de la ciudad..." id="city-text" />
        </div>
            <p>
                <input type="submit" value="Guardar" name="Save" />
            </p>
         }
        <p>
            <a href="@Url.Action("Index","Location")">
                <input type="reset" value="Cancelar" name="Abort" />
            </a>
        </p>



    </div>

</div>

